         # Gradle build directory
         .gradle/
         build/
         gradle.properties

         # IDE-specific files
         .idea/
         *.iml
         *.iws

         # Local build outputs
         out/

         # OS-specific files
         .DS_Store
         local.properties