         # Gradle build directory
         .gradle/
         build/
         gradle.*

         # IDE-specific files
         .idea/
         *.iml
         *.iws

         # Local build outputs
         out/

         # OS-specific files
         .DS_Store
         local.properties